@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  scroll-behavior: smooth;
}
p {
  color: black;
  font-family: 'robotoregular';
  font-size: 1.5em;
}

h3 {
  color: blue;
  font-family: 'robotoregular';
  text-decoration: underline;
}

.main {

}

.header {
  background-color: white;
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  /* -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75); */
  border-bottom: solid 1px rgb(206, 212, 218);
  z-index: 999;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  font-family: 'robotomedium';
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
  height: 5em;
  border-bottom: solid 1px rgb(206, 212, 218);
  z-index: 999;
  padding: 1em;
}

.logo {
  margin-right: .2em;
  margin-bottom: .05em;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  font-size: 1.5em;
  align-items: center;
}

.about {

}

.portfolio {
  margin-left: .5em;
}

.contact {
  margin-left: .5em;
}

.welcomeContent {
  font-family: 'robotolight';
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(208,236,240,1) 100%);
  width: 100%;
  height: 100vh;
}

#about {
  font-family: 'robotolight';
  background-color: #e7f5f7;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

#portfolio {
  font-family: 'robotolight';
  background-color: #B9E3E9;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

#contact {
  font-family: 'robotolight';
  background-color: #e7f5f7;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.footer {
  display: flex;
  /* -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75); */
  font-size: 1.2em;
  font-family: 'robotolight';
  background-color: #B9E3E9;
  width: 100%;
  height: 5em;
  justify-content: space-around;
  border-top: solid 1px rgb(206, 212, 218);
}

.footerContent {
  display: flex;
  align-items: center;
}

.myName {
  padding-top: 3.5em;
  font-family: 'robotoregular';
  font-size: 6em;
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
}

.myTitle {
  font-family: 'robotolight';
  font-size: 3em;
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.aboutHeader {
text-align: center;
margin-top: 112px;
margin-bottom: 1em;
font-size: 2.5em;
}

.portfolioHeader {
  text-align: center;
  margin-top: 112px;
  margin-bottom: 1em;
  font-size: 2.5em;

}

.contactHeader {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 6px;
  font-size: 2.5em;
  width: 100%;
}

.aboutContent {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 112px;
  font-size: 1.5em;
}

.portfolioContent {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 112px;
  font-size: 1em;

}

.contactContent {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.contactForm {
  margin-bottom: 112px;
}

#message.form-control {
  height: 250px;
  margin-bottom: 32px;
}

.connectLogo1 {
  margin-left: .3em;
}

.connectLogo2 {
  margin-left: 1em;
}

#icon {
  display: inline-block;
}

.carousel-caption {
  position: relative !important;
  left: 0 !important;
  padding-top: 30px !important;
}

.d-none {
    display: block !important;
}


@media (max-width: 599px) {
  .myName {
    font-size: 4em;
    padding-top: 5em;
  }
  .myTitle {
    font-size: 2em;
  }
  .about {
    display: none;
  }
  .portfolio {
    display: none;
  }
  .contact {
    display: none;
  }
}

@media (min-width: 600px) {
  #icon {
    display: none;
  }

}

@media (min-width: 1200px) {
  .headerContent {
    width: 1170px;
  }
  .aboutContent {
    width: 1170px;
  }
  .portfolioContent {
    width: 1170px;
  }
  .contactContent {
    width: 1170px;
  }
  .welcome {
    width: 1170px;
  }
  .myName {
    width: 1170px;
  }
  .myTitle {
    width: 1170px;
  }
}
/* 
@media (min-width: 768px) {
  .headerContent {
    width: 750px;
  }
  .aboutContent {
    width: 750px;
  }
  .portfolioContent {
    width: 750px;
  }
  .contactContent {
    width: 750px;
  }
  .welcome {
    width: 750px;
  }
  .myName {
    width: 750px;
  }
  .myTitle {
    width: 750px;
  }
} */

